.btn{
    color: #fff;
    background: tomato;
    padding: 10px 20px;
    border: 0;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}


.btn:hover{
    background: #fff;
    color: tomato;
}